body{
  background-color: hsl(185, 41%, 84%);
}

.main{
  background-color: white;
  position: absolute;
  top: 100px;
  left: 220px;
  width: 1000px;
  padding: 40px;
  border-radius: 20px;
}

.inputElements{
  width: 550px;
  
}
.outputElements{
  background-color: hsl(183, 100%, 15%);
  width: 430px;
  height: 400px;
  position: absolute;
  top: 40px;
  left: 600px;
  border-radius: 20px;  
}

#tipOptions{
  border-spacing: 15px;

}
#tipOption{
  background-color: hsl(183, 100%, 15%);
  color: white;
  font-size: 24px;
  border-spacing: 100px;
  border-radius: 10px;
  padding: 13px 50px;
  padding-right: 100px;
  width: 102px;
  
  

}