@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@700&family=Inter:wght@600&family=Noto+Sans+Mono:wght@300;500&family=Playfair+Display:wght@800&family=Space+Grotesk:wght@500&family=Space+Mono:wght@700&display=swap');

body{
  font-family: 'Space Mono', monospace;
  background-color: hsl(185, 41%, 84%);
  font-weight: 700;
  color: hsl(184, 14%, 56%);
}

.main{
  font-family: 'Space Mono', monospace;
  display: flex;
  background-color: white;
  position: absolute;
  top: 100px;
  left: 300px;
  padding: 43px;
  border-radius: 20px;
}

#input1, #input2{
  height: 30px;
  background-color: hsl(185, 41%, 84%);
  font-family: 'Space Mono', monospace;
  width: 306px;
  color: hsl(183, 100%, 15%);
  font-size: 22px;
  border-radius: 10px;
  padding: 4px 20px;
  margin-left: 1px;
  text-align: right;
}

#tipOption{
  flex-wrap: wrap;
  font-family: 'Space Mono', monospace;
  background-color: hsl(183, 100%, 15%);
  color: white;
  font-size: 22px;
  border-radius: 10px;
  padding: 4px 20px;
  margin-left: 10px;
  flex: 1;
  margin: 5px;
}

#entrada{
  font-family: 'Space Mono', monospace;
  background-color: hsl(185, 41%, 84%);
  color:hsl(183, 100%, 15%);
  font-size: 22px;
  border-radius: 8px;
  padding: 4px 20px;
  margin-left: 10px;
  flex: 1;
  margin-right: 5px;
  border: none;
  text-align: right;
}

button, #entrada{
  flex: 1;
  margin: 5px;
  height: 40px;
  width: 80px;
  padding-left: 10px;
  border-color: hsl(183, 100%, 15%);
}

button{
  height: 50px;
  width: 90px;
  cursor:grab;
}

#buttons{
  display: flex;
  align-items: center;
  flex-wrap: wrap; 
  justify-content: center; 
  width: 355px;
  margin-right: 5px;
}

.Elements{
  flex: 1;
}

#output{
  background-color: hsl(183, 100%, 15%);
  border-radius: 10px;
  padding: 10px 50px;
  height: 350px;
  width: 230px;
  margin-left: 40px;
}


.white_text{
  color: white;
}

#firstRequest, #secondRequest{
  font-size: 12px;
  padding-top: 40px;
  
  padding-bottom: 30px;
  display: flex-start;
  flex-direction:column; 
  justify-content:space-around; 
  align-items:start; 
}

#text1{
  font-size: 30px;
  position: fixed;
  top: 186px;
  right: 340px;
  color:  hsl(183, 97%, 24%);
}

#text2{
  font-size: 30px;
  position: fixed;
  top: 290px;
  right: 340px;
  color: hsl(183, 97%, 24%);
}

#reset{
  font-family: 'Space Mono', monospace;
  margin-top: 50px;
  display: flex;
  align-items: center;
  flex-wrap: wrap; 
  justify-content: center; 
  width: 355px;
  margin-right: 5px;
  height: 50px;
  width: 222px;
  border-radius: 10px;
  background-color: hsl(183, 96%, 21%);
  color: hsl(183, 100%, 15%);
}
